.card
  .card-body
    %h5.card-title.mb-4.mt-2
      Recent Checks
    .activity
      .activity-item.d-flex
        .activite-label 10 min
        %i.bi.bi-circle-fill.activity-badge.text-success.align-self-start
        .activity-content
          Narra Up? - Success
      .activity-item.d-flex
        .activite-label 12 min
        %i.bi.bi-circle-fill.activity-badge.text-danger.align-self-start
        .activity-content
          Narra Labs - Failed
      .activity-item.d-flex
        .activite-label 14 min
        %i.bi.bi-circle-fill.activity-badge.text-success.align-self-start
        .activity-content
          Narra Up? - Success
      .activity-item.d-flex
        .activite-label 15 min
        %i.bi.bi-circle-fill.activity-badge.text-muted.align-self-start
        .activity-content
          Website Up - Paused
      .activity-item.d-flex
        .activite-label 16 min
        %i.bi.bi-circle-fill.activity-badge.text-warning.align-self-start
        .activity-content
          Narra Good? - Warning
      .activity-item.d-flex
        .activite-label 17 min
        %i.bi.bi-circle-fill.activity-badge.text-warning.align-self-start
        .activity-content
          Narra Labs - Warning
      .activity-item.d-flex
        .activite-label 19 min
        %i.bi.bi-circle-fill.activity-badge.text-success.align-self-start
        .activity-content
          Narra Up? - Success
      .activity-item.d-flex
        .activite-label 21 min
        %i.bi.bi-circle-fill.activity-badge.text-danger.align-self-start
        .activity-content
          Narra Labs - Failed
      .activity-item.d-flex
        .activite-label 22 min
        %i.bi.bi-circle-fill.activity-badge.text-success.align-self-start
        .activity-content
          Narra Up? - Success
      .activity-item.d-flex
        .activite-label 23 min
        %i.bi.bi-circle-fill.activity-badge.text-muted.align-self-start
        .activity-content
          Website Up - Paused
      .activity-item.d-flex
        .activite-label 25 min
        %i.bi.bi-circle-fill.activity-badge.text-warning.align-self-start
        .activity-content
          Narra Good? - Warning
      .activity-item.d-flex
        .activite-label 26 min
        %i.bi.bi-circle-fill.activity-badge.text-warning.align-self-start
        .activity-content
          Narra Labs - Warning
