// Header styles
.header {
  // Positioning and size
  height: 60px;
  padding-left: 20px;

  // Styling
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);

  // Other
  transition: all 0.5s;
  z-index: 997;
}

// Logo styles
.logo {
  line-height: 1;

  // Media query for larger screens
  @media (min-width: 1200px) {
    width: 280px;
  }

  // Styles for the logo text
  span {
    font-size: 32px;
    font-weight: 700;
    color: #066e12;
  }
}

// Styles for the navigation in the header
.header-nav {
  // Reset list styles
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Styles for the navigation icons
  .nav-icon {
    font-size: 22px;
    color: #012970;
    margin-right: 25px;
    position: relative;
  }

  // Styles for the avatar in the navigation
  .nav-avatar {
    img {
      max-height: 36px;
    }

    span {
      font-size: 14px;
      font-weight: 600;
    }
  }

  // Styles for the badge number
  .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
  }

  // Styles for the notifications
  .notifications {
    inset: 8px -15px auto auto !important;

    // Styles for individual notification items
    .notification-item {
      display: flex;
      align-items: center;
      padding: 15px 10px;
      transition: 0.3s;

      i {
        margin: 0 20px 0 10px;
        font-size: 24px;
      }

      &:hover {
        background-color: #d0d2d6;
      }
    }
  }

  // Styles for the profile dropdown
  .profile {
    min-width: 240px;
    padding-bottom: 0;
    top: 8px !important;

    // Styles for the dropdown header
    .dropdown-header {
      h6 {
        margin-bottom: 0;
        font-weight: 600;
        color: #444444;
      }

      span {
        font-size: 14px;
      }
    }

    // Styles for the dropdown items
    .dropdown-item {
      font-size: 14px;
      padding: 10px 15px;
      transition: 0.3s;

      i {
        margin-right: 10px;
        font-size: 18px;
        line-height: 0;
      }

      &:hover {
        background-color: #f6f9ff;
      }
    }
  }
}

// Styles for the notification panel
.notification-panel-title{
  font-size: 1rem;
  color: #066e12;
  text-decoration: none;
}

.notification-panel-body{
  font-size: .35rem;
}

.notification-panel-time{
  font-size: .15rem;
}