// Styles for the sidebar navigation container
#sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}

// Base styles for the sidebar
.sidebar {
  // Positioning and size
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;

  // Styling
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);

  // Other
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
}

// Media queries for responsive design
@media (max-width: 1199px) {
  .sidebar,
  .toggle-sidebar .sidebar {
    left: -300px;
  }

  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }

  .toggle-sidebar {
    #main,
    #footer {
      margin-left: 0;
    }

    .sidebar {
      left: -300px;
    }
  }
}

// Styles for the navigation items in the sidebar
.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-item {
    margin-bottom: 5px;
  }

  .nav-link {
    // Flexbox for alignment
    display: flex;
    align-items: center;

    // Text styles
    color: #48AF54;

    // Background and border
    background: #f6f9ff;
    border-radius: 4px;

    // Other
    transition: 0.3;
    padding: 10px 15px;

    i {
      margin-right: 10px;
      color: #0F841D;
    }

    // Styles for collapsed and hover states
    &.collapsed {
      color: #0F841D;
      background: #fff;

      i {
        color: #0F841D;
      }
    }

    &:hover {
      color: #0F841D;
      background: #f6f9ff;

      i {
        color: #0F841D;
      }
    }
  }
}