$primary-font-color: #25221b;
$secondary-font-color: #403d39;
$white-font: #FFFCF2;
$hover-background-color: #ccc5b9;
$primary-background-color: #f0f0f0;
$secondary-background-color: #d9d9d9;
$primary-highlight-color: #0e0221;
$secondary-highlight-color: #598B2C;