.container.docs
  %h1.pb-3 Privacy Policy
  %p.text-muted Last updated: Feb 29, 2024

  %h4 Introduction
  .ms-4
    %p
      At CheckLeaf, we are committed to protecting the privacy and security of our users. This Privacy Policy outlines the information we collect, how we use it, and the choices you have concerning your information.

  %h4 Information We Collect
  .ms-4
    %p
      We collect information to provide better services to our users. The types of information we collect include:

    %ul
      %li Email address
      %li Name
      %li Usage data (e.g., how you use CheckLeaf, which features you access)
      %li Technical data (e.g., IP address, browser type)

  %h4 How We Use Your Information
  .ms-4
    %p
      We use the information we collect to:

    %ul
      %li Provide, maintain, and improve CheckLeaf.
      %li Send you notifications related to your use of CheckLeaf.
      %li Monitor and analyze trends, usage, and activities in connection with CheckLeaf.
      %li Detect, prevent, or address technical issues.

  %h4 Sharing Your Information
  .ms-4
    %p
      We do not share or sell your personal information to third parties. We may share aggregated or anonymized data that does not directly identify you.

  %h4 Your Choices
  .ms-4
    %p
      You have the right to access, update, or delete your personal information at any time. You can also opt-out of receiving any promotional communications from us.

  %h4 Security
  .ms-4
    %p
      We take the security of your information seriously and use various measures to protect your information from unauthorized access, use, or disclosure.

  %h4 Changes to This Privacy Policy
  .ms-4
    %p
      We may update our Privacy Policy from time to time. We will notify you of any changes by posting the updated policy on this page.

  %h4 Contact Us
  .ms-4
    %p
      If you have any questions or concerns about this Privacy Policy, please contact us at admin@narralabs.com.