.container.docs
  %h1 Terms of Service ("Terms")
  %p.text-muted Last updated: Feb 29, 2024

  .ms-4
    %p
      Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the
      = succeed "," do
        %a{href: "https://www.checkmule.com"} https://www.checkmule.com
      website (the "Service") operated by Checkmule ("us", "we", or "our").
    %p
      Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who access or use the Service.
    %p
      By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.

  %h4 Accounts
  .ms-4
    %p
      When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.

  %h4 Termination
  .ms-4
    %p
      We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

  %h4 Links To Other Web Sites
  .ms-4
    %p
      Our Service may contain links to third-party web sites or services that are not owned or controlled by Checkmule.
    %p
      Checkmule has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that Checkmule shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.

  %h4 Changes
  .ms-4
    %p
      We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.

  %h4 Contact Us
  .ms-4
    %p
      If you have any questions about these Terms, please contact us at
      = succeed "." do
        %a{href: "mailto:[ron@narralabs.com]"} ron@narralabs.com
